<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My JSP 'ShowAllStudent.jsp' starting page</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" th:href="@{/static/css/bootstrap.css}"/>
    <script src="../../static/js/jquery.js" th:src="@{/static/js/jquery.js}"></script>
    <style>
        .img1:hover {
            width: 100px;
            height: 100px;
        }
        span{
            font-size: 20px;
        }
        #name,#date,#thing,#num,#name1{
            margin-left: 100px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            // 给input  date设置默认值
            var now = new Date();
//格式化日，如果小于9，前面补0
            var day = ("0" + now.getDate()).slice(-2);
//格式化月，如果小于9，前面补0
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
//拼装完整日期格式
            var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
//完成赋值
            $('#date').val(today);
        });
       /* function checkInput() {
            var name = document.form1.name.value;
            var thing = document.form1.thing.value;
            var num = document.form1.num.value;
            var name1 = document.form1.name1.value;
            if(name == ""){
                alert("请输入员工编号");
                return false;
            }else if(name1 == ""){
                alert("请输入员工姓名");
                return false;
            }else if(thing == ""){
                alert("请输入商品名称");
                return false;
            }else if(num == ""){
                alert("请输入商品数量");
                return false;
            }else{
                return true;
            }
        }*/
    </script>
</head>

<body>
<p class="text-success" style="margin-top: 20px;margin-left: 20px"><strong style="font-size: 25px">填写销毁单</strong>
</p>
<br>
<form name="form1" id="form-add" enctype="multipart/form-data">
    <span class="text-primary" style="margin-left: 21px">请输入员工编号:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="name" placeholder="id" style="height: 25px;" name="id"/>
    <br>
    <span class="text-primary" style="margin-left: 21px">请输入员工姓名:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="name1" placeholder="name" style="height: 25px;" name="username"/>
    <br>
    <span class="text-primary" style="margin-left: 21px">请输入商品名称:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="thing" placeholder="thing" style="height: 25px;" name="goodname"/>
    <br>
    <span class="text-primary" style="margin-left: 21px">请输入商品数量:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="num" placeholder="num" style="height: 25px;" name="number"/>
    <br>
    <span class="text-primary" style="margin-left: 80px">销毁时间:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="date" class="form-control" id="date" placeholder="sale" style="height: 25px;" name="date"/>
    <br>
    <br>
    <button class="btn btn-primary" onclick="submitFunction()" id="btn" style="width: 70px;height: 35px;margin-top: 20px;margin-left: 150px;">
        <span>生成</span>
    </button>
</form>
<script type="text/javascript">
    function submitFunction() {
        var name = document.form1.name.value;
        var thing = document.form1.thing.value;
        var num = document.form1.num.value;
        var name1 = document.form1.name1.value;
        if(name == ""){
            alert("请输入员工编号");
            return false;
        }else if(name1 == ""){
            alert("请输入员工姓名");
            return false;
        }else if(thing == ""){
            alert("请输入商品名称");
            return false;
        }else if(num == ""){
            alert("请输入商品数量");
            return false;
        }
        var formData = new FormData($("#form-add")[0]);
        $.ajax({
            //接口地址
            url: '#' ,
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if(data == "true")
                {
                    alert("操作成功");
                }
                else
                {
                    alert(data);
                }
            },
            error: function (returndata) {
                //请求异常的回调
                // modals.warn("网络访问失败，请稍后重试!");
            }
        });
    }
</script>
</body>
</html>