<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My JSP 'ShowAllStudent.jsp' starting page</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" th:href="@{/static/css/bootstrap.css}"/>
    <script src="../../static/js/jquery.js" th:src="@{/static/js/jquery.js}"></script>
    <style>
        .img1:hover {
            width: 100px;
            height: 100px;
        }
        span{
            font-size: 20px;
        }
        #name,#date,#thing,#num,#sale{
            margin-left: 100px;
        }
    </style>
    <script type="text/javascript">
        function checkInput() {
            var name = document.form1.name.value;
            var date = document.form1.date.value;
            var thing = document.form1.thing.value;
            var num = document.form1.num.value;
            var sale = document.form1.sale.value;
            if(name == ""){
                alert("请输入员工姓名");
                return false;
            }else if(date == ""){
                alert("请选择生产时间");
                return false;
            }else if(thing == ""){
                alert("请输入商品名称");
                return false;
            }else if(num == ""){
                alert("请输入商品数量");
                return false;
            }else if(sale == ""){
                alert("请输入花费");
                return false;
            }else{
                return true;
            }
        }
    </script>
</head>

<body>
<p class="text-success" style="margin-top: 20px;margin-left: 20px"><strong style="font-size: 25px">制定生产计划</strong>
</p>
<br>
<form action="#" method="post" name="form1" onsubmit="return checkInput()" enctype="multipart/form-data">
    <span class="text-primary" style="margin-left: 21px">请输入员工姓名:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="name" placeholder="name" style="height: 25px;"/>
    <br>
    <span class="text-primary" style="margin-left: 21px">请选择生产时间:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="date" class="form-control" id="date" style="height: 25px;" value="2018-02-10"/>
    <br>
    <span class="text-primary" style="margin-left: 21px">请输入商品名字:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="thing" placeholder="thing" style="height: 25px;"/>
    <br>
    <span class="text-primary" style="margin-left: 21px">请输入商品数量:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="num" placeholder="num" style="height: 25px;"/>
    <br>
    <span class="text-primary" style="margin-left: 61px">请输入花费:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="sale" placeholder="sale" style="height: 25px;"/>
    <br>
    <br>
    <button class="btn btn-primary" type="submit" id="btn" style="width: 70px;height: 35px;margin-top: 20px;margin-left: 150px;">
        <span>生成</span>
    </button>
</form>
</body>
</html>
