<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>销售部门</title>
    <link rel="stylesheet" href="../../static/css/pintuer.css" th:href="@{/static/css/pintuer.css}">
    <link rel="stylesheet" href="../../static/css/admin.css" th:href="@{/static/css/admin.css}">
    <script src="../../static/js/jquery.js" th:src="@{/static/js/jquery.js}"></script>
</head>
<body style="background-color: #f2f9fd;">
<div class="header bg-main">
    <div class="logo margin-big-left fadein-top">
        <h1>
            <img src="../../static/images/C.jpg" th:src="@{/static/images/C.jpg}" class="radius-circle  rotate-hover"
                 width="50" height="50" alt="" />销售部门
        </h1>
    </div>
    <div class="head-l">
        <a class="button button-little bg-blue" href="/login?logout"><span
                class="icon-power-off"></span> 退出登录</a>
    </div>
</div>
<div class="leftnav">
    <div class="leftnav-title">
        <strong><span class="icon-list"></span>工作内容</strong>
    </div>
    <h2>
        <span class="icon-user"></span>基本操作
    </h2>
    <ul style="display: block">
        <li><a href="../sale/sale_dingdan.html"
               target="right"><span class="icon-caret-right"></span>生成订货单</a></li>
        <li><a href="../sale/sale_tuidan.html" target="right" th:href="@{/xiaoshou/tuihuo}"><span
                class="icon-caret-right"></span>生成退货单</a></li>
        <li><a href="../sale/sale_tihuo.html" target="right" ><span
                class="icon-caret-right"></span>生成提货单</a></li>
    </ul>
    <h2>
        <span class="icon-user"></span>查询信息
    </h2>
    <ul style="display: block">
        <li><a href="../chaxun/chaxun_dingdan.html" th:href="@{/chaxun/dingdan}"
               target="right"><span class="icon-caret-right"></span>查询订货单信息</a></li>
        <li><a href="../chaxun/chaxun_tuidan.html" th:href="@{/chaxun/tuidan}" target="right"><span
                class="icon-caret-right"></span>查询退货单信息</a></li>
        <li><a href="../chaxun/chaxun_tihuo.html" target="right" th:href="@{/chaxun/tihuo}"><span
                class="icon-caret-right"></span>查询提货单信息</a></li>
    </ul>
    <h2>
        <span class="icon-pencil-square-o"></span>处理商品业务
    </h2>
    <ul style="display: block">
        <li><a href="../thing/thing_tianjia.html" target="right"><span
                class="icon-caret-right"></span>添加商品信息</a></li>
        <li><a href="../thing/thing_chaxun.html" target="right"><span
                class="icon-caret-right"></span>查询商品信息</a></li>

    </ul>
    <h2>
        <span class="icon-user-md"></span>处理客户信息
    </h2>
    <ul style="display: block">
        <li><a href="../customer/customer_tianjia.html" th:href="@{/xiaoshou/addCustomer}"
               target="right"><span class="icon-caret-right"></span>创建客户信息</a></li>
        <li><a href="../customer/customer_chaxun.html" target="right" th:href="@{/chaxun/kehu}"><span
                class="icon-caret-right"></span>查询客户信息</a></li>

    </ul>
    <h2>
        <span class="icon-pencil-square-o"></span>修改优惠信息
    </h2>
    <ul style="display: block">
        <li><a href="../sale/sale_chaxun.html"
               target="right"><span class="icon-caret-right"></span>修改优惠单</a></li>
    </ul>
</div>
<script type="text/javascript">
    $(function() {
        $(".leftnav h2").click(function() {
            $(this).next().slideToggle(200);
            $(this).toggleClass("on");
        })
        $(".leftnav ul li a").click(function() {
            $("#a_leader_txt").text($(this).text());
            $(".leftnav ul li a").removeClass("on");
            $(this).addClass("on");
        })
    });
</script>
<ul class="bread">
    <li><a href="/shouye" target="right" class="icon-home"> 首页</a>
    </li>
    <li><a href="##" id="a_leader_txt">欢迎界面</a></li>
</ul>
<div class="admin">
    <iframe src="/shouye" name="right" width="100%" height="100%"></iframe>
</div>

</body>
</html>