<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>企业管理部</title>
    <link href="../../static/css/pintuer.css" rel="stylesheet" th:href="@{/static/css/pintuer.css}">
    <link href="../../static/css/admin.css" rel="stylesheet" th:href="@{/static/css/admin.css}">
    <script src="../../static/js/jquery.js" th:src="@{/static/js/jquery.js}"></script>
</head>
<body style="background-color: #f2f9fd;">
<div class="header bg-main">
    <div class="logo margin-big-left fadein-top">
        <h1>
            <img src="../../static/images/D.jpg" th:src="@{/static/images/D.jpg}" class="radius-circle  rotate-hover"
                 width="50" height="50" alt="" />企业管理部
        </h1>
    </div>
    <div class="head-l">
        <a class="button button-little bg-blue" href="/login?logout"><span
                class="icon-power-off"></span> 退出登录</a>
    </div>
</div>
<div class="leftnav">
    <div class="leftnav-title">
        <strong><span class="icon-list"></span>工作内容</strong>
    </div>
    <h2>
        <span class="icon-user"></span>基本操作
    </h2>
    <ul style="display: block">
        <li><a href="../chaxun/chaxun_kucun.html" th:href="@{'/chaxun/kucun'}"
               target="right"><span class="icon-caret-right"></span>查询货物库存信息</a></li>
        <li><a href="../chaxun/chaxun_dingdan.html" th:href="@{'/chaxun/dingdan'}" target="right"><span
                class="icon-caret-right"></span>查询订单信息</a></li>
        <li><a href="../chaxun/chaxun_tuidan.html" th:href="@{'/chaxun/tuidan'}" target="right"><span
                class="icon-caret-right"></span>查询退单信息</a></li>
        <li><a href="../chaxun/chaxun_shengchan.html" th:href="@{'/chaxun/shengchan'}" target="right"><span
                class="icon-caret-right"></span>查询生产计划信息</a></li>
        <li><a href="../chaxun/chaxun_kehu.html" th:href="@{'/chaxun/kehu'}" target="right"><span
                class="icon-caret-right"></span>查询客户信息</a></li>
        <li><a href="../chaxun/chaxun_yuangong.html" th:href="@{'/chaxun/yuangong'}" target="right"><span
                class="icon-caret-right"></span>查询员工信息</a></li>
        <li><a href="../chaxun/chaxun_thing.html" th:href="@{'/chaxun/pingzhneg'}" target="right"><span
                class="icon-caret-right"></span>查询商品信息</a></li>
        <li><a href="../chaxun/chaxun_pingzhen.html" target="right"><span
                class="icon-caret-right"></span>查询凭证信息</a></li>
        <li><a href="../chaxun/chaxun_ruku.html" target="right"><span
                class="icon-caret-right"></span>查询入库信息</a></li>
        <li><a href="../chaxun/chaxun_chuku.html" target="right"><span
                class="icon-caret-right"></span>查询出库信息</a></li>
        <li><a href="../chaxun/chaxun_tihuo.html" target="right"><span
                class="icon-caret-right"></span>查询提货信息</a></li>
    </ul>
</div>
<script type="text/javascript">
    $(function() {
        $(".leftnav h2").click(function() {
            $(this).next().slideToggle(200);
            $(this).toggleClass("on");
        })
        $(".leftnav ul li a").click(function() {
            $("#a_leader_txt").text($(this).text());
            $(".leftnav ul li a").removeClass("on");
            $(this).addClass("on");
        })
    });
</script>
<ul class="bread">
    <li><a href="/shouye" th:href="@{'/shouye'}" target="right" class="icon-home"> 首页</a>
    </li>
    <li><a href="##" id="a_leader_txt">欢迎界面</a></li>
</ul>
<div class="admin">
    <iframe src="/shouye" name="right" width="100%" height="100%"></iframe>
</div>

</body>
</html>