<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My JSP 'ShowAllStudent.jsp' starting page</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" th:href="@{/static/css/bootstrap.css}"/>
    <script src="../../static/js/jquery.js" th:src="@{/static/js/jquery.js}"></script>
    <style>
        .img1:hover {
            width: 100px;
            height: 100px;
        }
        span{
            font-size: 20px;
        }
        #people,#date,#id,#num,#cunstom,#money1{
            margin-left: 100px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            // 给input  date设置默认值
            var now = new Date();
//格式化日，如果小于9，前面补0
            var day = ("0" + now.getDate()).slice(-2);
//格式化月，如果小于9，前面补0
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
//拼装完整日期格式
            var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
//完成赋值
            $('#date').val(today);
        });
        function checkInput() {
            var people = document.form1.people.value;
            var id = document.form1.id.value;
            var cunstom = document.form1.cunstom.value;
            var num = document.form1.num.value;
            var money1 = document.form1.money1.value;
            var money2 = document.form1.money2.value;
            if(people == ""){
                alert("请输入员工编号");
                return false;
            }else if(id == ""){
                alert("请输入商品编号");
                return false;
            }else if(cunstom == ""){
                alert("请输入客户编号");
                return false;
            }else if(num == ""){
                alert("请输入商品数量");
                return false;
            }else if(money1 == ""){
                alert("请输入提货日期左区间");
                return false;
            }else if(money2 == ""){
                alert("请输入提货日期右区间");
                return false;
            }else{
                return true;
            }
        }
    </script>
</head>

<body>
<p class="text-success" style="margin-top: 20px;margin-left: 20px"><strong style="font-size: 25px">填写提货单</strong>
</p>
<br>
<form action="#" method="post" name="form1" onsubmit="return checkInput()" enctype="multipart/form-data">
    <span class="text-primary" style="margin-left: 21px">请输入员工编号:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="people" placeholder="id" style="height: 25px;"/>
    <br>
    <span class="text-primary" style="margin-left: 21px">请输入商品编号:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="id" placeholder="id" style="height: 25px;"/>
    <br>
    <span class="text-primary" style="margin-left: 21px">请输入客户编号:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="cunstom" placeholder="id" style="height: 25px;"/>
    <br>
    <span class="text-primary" style="margin-left: 21px">请输入商品数量:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="num" placeholder="num" style="height: 25px;"/>
    <br>
    <span class="text-primary" style="margin-left: 40px">提货日期区间:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="date" class="form-control" id="money1" style="height: 25px;"/>&nbsp;&nbsp;&nbsp;<span>~</span>&nbsp;&nbsp;&nbsp;
    <input type="date" class="form-control" id="money2" style="height: 25px;"/>
    <br>
    <span class="text-primary" style="margin-left: 80px">产生时间:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="date" class="form-control" id="date" style="height: 25px;"/>
    <br>
    <br>
    <button class="btn btn-primary" type="submit" id="btn" style="width: 70px;height: 35px;margin-top: 20px;margin-left: 150px;">
        <span>生成</span>
    </button>
</form>
</body>
</html>