<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My JSP 'ShowAllStudent.jsp' starting page</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" th:href="@{/static/css/bootstrap.css}"/>
    <script src="../../static/js/jquery.js" th:src="@{/static/js/jquery.js}"></script>
    <style>
        .img1:hover {
            width: 100px;
            height: 100px;
        }
        span{
            font-size: 20px;
        }
        #name,#danwei,#baozhi{
            margin-left: 50px;
        }
        #danjia,#xiaxian{
            margin-left: 80px;
        }
        #btn{
            margin-left: 500px;
        }
    </style>
</head>

<body>
<p class="text-success" style="margin-top: 20px;"><strong style="font-size: 25px">添加商品信息:</strong>
</p>
<br>
<form  name="form1" id="form-add" enctype="multipart/form-data">
    <span class="text-primary" style="margin-left: 21px">商品名称:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" name="name" id="name" placeholder="name" style="height: 25px;"/>

    <span class="text-primary" style="margin-left: 230px">单价:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="danjia" name="danjia" placeholder="money" style="height: 25px;"/>

    <br>
    <!--<span class="text-primary" style="margin-left: 60px">单位:</span>&nbsp;&nbsp;&nbsp;&nbsp;-->
    <!--<input type="text" class="form-control" id="danwei" name="danwei" placeholder="unit" style="height: 25px;"/>-->
    <span class="text-primary" style="margin-left: 60px">单位:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <select class="form-control" id="danwei" style="height: 35px;"name="danwei">
        <option selected="selected">吨</option>
        <option>公斤</option>
        <option>升</option>
    </select>

    <span class="text-primary" style="margin-left: 190px">库存下限:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="xiaxian" name="xiaxian" placeholder="limit" style="height: 25px;"/>

    <br>
    <span class="text-primary" style="margin-left: 40px">保质期:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" id="baozhi" name="baozhi" placeholder="guarantee" style="height: 25px;">

    <br>
    <button class="btn btn-primary" onclick="submitFunction()" id="btn" style="width: 70px;height: 35px;margin-top: 80px;">
        <span>添加</span>
    </button>
</form>

<script type="text/javascript">
    function submitFunction() {
        //这里唯一需要注意的就是这个form-add的id
        var name = document.form1.name.value;
        var danjia = document.form1.danjia.value;
        var danwei = document.form1.danwei.value;
        var xiaxian = document.form1.xiaxian.value;
        var baozhi = document.form1.baozhi.value;
        if(name == ""){
            alert("请输入商品名称");
            return false;
        }else if(danjia == ""){
            alert("请输入单价");
            return false;
        }else if(danwei == ""){
            alert("请输入单位");
            return false;
        }else if(xiaxian == ""){
            alert("请输入库存下限");
            return false;
        }else if(baozhi == ""){
            alert("请输入保质期");
            return false;
        }

        var formData = new FormData($("#form-add")[0]);
        $.ajax({
            //接口地址
            url: '/xiaoshou/addgood' ,
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if(data =="true")
                {
                    alert("yes");
                }
                else
                {
                    alert("no");
                }
            },
            error: function (returndata) {
                //请求异常的回调
                // modals.warn("网络访问失败，请稍后重试!");
            }
        });
    }
</script>
</body>
</html>
