<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My JSP 'ShowAllStudent.jsp' starting page</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.css}" href="../../static/css/bootstrap.css" />
    <script src="../../static/js/jquery.js" th:src="@{/static/js/jquery.js}"></script>
    <style>
        .img1:hover {
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<body>
<p class="text-success" style="margin-top: 20px;"><strong style="font-size: 25px">生产计划信息:</strong>
</p>
<br>
<form action="#" name="form1" method="post" onsubmit="return checkInput()" enctype="multipart/form-data">
    <span class="text-primary" style="font-size: 20px;">商品名称:</span>
    <input type="text" class="form-control" id="name1" placeholder="name" style="height: 25px;" name="goodname">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="text-primary" style="font-size: 20px;">生产时间:</span>
    <input type="date" class="form-control" id="name2" placeholder="name" style="height: 25px;" name="time">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" type="submit" style="width: 70px;height: 35px;margin-top: -14px;">
        <span>查询</span>
    </button>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead class="thead-dark">
    <tr>
        <th scope="col">生产计划编号</th>
        <th scope="col">生产时间</th>
        <th scope="col">商品名称</th>
        <th scope="col">商品数量</th>
        <th scope="col">员工名称</th>
        <th scope="col">花费</th>
    </tr>
    </thead>
    <tr th:each="item:${shengchanList}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.manufacture_date}">123</td>
        <td th:text="${item.good_name}">1234</td>
        <td th:text="${item.number}">A4</td>
        <td th:text="${item.employee_name}">123</td>
        <td th:text="${item.money}">1234</td>
    </tr>
</table>
</body>
</html>
